<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes app | Login</title>
</head>
<body>
  <h1> Login </h1>

  {% if messages %}
    {% for message in messages %}
      <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}
  {% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
      <div>
        <label for="">{{ field.label }}</label>
        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value }}">
      </div>
    {% endfor %}
    <button type="submit">Login</button>
  </form>

  <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</body>
</html>